@import "resets";

.app {
  background: yellow;
}

.header {
  width: 100%;
  &__nav {
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.container {
  width: 75%;
  margin: auto;
  background: green;
}
