<div class="app">
  <div class="header">
    <div class="header__nav">
      <i class="fa fa-angle-double-up" aria-hidden="true"></i>
      <div class="search">
        <span class="fa fa-search"></span>
        <input placeholder="Where to?">
      </div>
      <button class="btn">Become a host</button>
      <span>Trips <i class="fa fa-suitcase" aria-hidden="true"></i></span>
      <span>Messages <i class="fa fa-commenting-o" aria-hidden="true"></i></span>
      <span>Help <i class="fa fa-life-ring" aria-hidden="true"></i></span>
      <span>Hannah <img src="http://placekitten.com/30/30" alt=""></span>
    </div>
  </div>
  <div class="jumbotron">
    Hi, I'm the jumbotron.
  </div>
  <div class="app__main">
    <div class="container">
      I'm a bunch of stuff, too!
    </div>
  </div>
  <div class="jumbotron">
    Hi, I'm the jumbotron.
  </div>
  <div class="footer">
    <div class="container">
      I am the footer!
    </div>
  </div>
</div>
