<div class="app">
  <div class="header">
    <div class="header-nav">
      <span class="header-nav__item"><i class="fa fa-angle-double-up" aria-hidden="true"></i></span>
      <div class="search header-nav__item">
        <span class="fa fa-search"></span>
        <input placeholder="Where to?">
      </div>
      <div class="btn header-nav__item">
        <button>Become a Host</button>
      </div>
      <span class="header-nav__item">Trips <i class="fa fa-suitcase" aria-hidden="true"></i></span>
      <span class="header-nav__item">Messages <i class="fa fa-commenting-o" aria-hidden="true"></i></span>
      <span class="header-nav__item">Help <i class="fa fa-life-ring" aria-hidden="true"></i></span>
      <span class="header-nav__item user-av">Hannah <img src="http://placekitten.com/30/30" alt=""></span>
    </div>
  </div>
  <div class="jumbotron">
    <div class="jumbotron-banner">
      <div class="jumbotron-banner__item">
        <h1>LIVE THERE</h1>
      </div>
      <div class="jumbotron-banner__item">
        <h3>Book homes from local hosts in 191+ countries and experience a place like you live there.</h3>
      </div>
      <div class="jumbotron-banner__item">
        <a href="#">Learn About Airbnb</a>
      </div>
    </div>
    <div class="jumbotron-search">
      <div class="container">
        <div class="location-search">
          <input class="location-input" type="text" placeholder="Where to?">
          <input type="date" placeholder="Check In">
        </div>
      </div>
    </div>
  </div>
  <div class="app__main">
    <div class="container">
      <div class="earn-card">
        <figure>
          <img src="http://placecera.com/650/350" alt="">
        </figure>
        <div class="earn-card__info">
          <h2>Hosting opens up a world of opportunity.</h2>
          <p>Earn money sharing your extra space with travelers.</p>
          <a class="earn-btn" href="#">See What You Can Earn</a>
        </div>
      </div>
      <section class="row">
        <div class="weekend-header">
          <h3>Just for the weekend</h3>
          <p>Discover new, inspiring places close to home.</p>
        </div>
        <div class="weekend-three">
          <div class="weekend-three__item">
            <div class="img-frame">
              <img src="https://hd.unsplash.com/photo-1468983586520-75fa9f758c0f" alt="">
            </div>
            <h2 class="overlay">
              Memphis
            </h2>
          </div>
          <div class="weekend-three__item">
            <div class="img-frame">
              <img src="https://hd.unsplash.com/photo-1453301109223-3e2085a1e69d" alt="">
            </div>
            <h2 class="overlay">
              Atlanta
            </h2>
          </div>
          <div class="weekend-three__item">
            <div class="img-frame">
              <img src="https://hd.unsplash.com/photo-1471009544976-30d2142adb6b" alt="">
            </div>
            <h2 class="overlay">
              Asheville
            </h2>
          </div>
        </div>

      </section>
    </div>
  </div>
  <div class="megatron">
    Hi, I'm the jumbotron.
  </div>
  <div class="footer">
    <div class="container">
      I am the footer!
    </div>
  </div>
</div>
